.fixed{
    width: 100%;
    height: 80px;
   
}
.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}
/* home and logo */

/* navigation menu */
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: blue;
    
}

.nav-container{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a{
    height: inherit;
    width: auto;
    text-decoration: none ;
    color: white ;
}
.fa-home{
    font-weight: 800;
    font-size: 1.5rem;
}
.nav-menu-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none ;
    height: 80px;
    width: auto;
}

.nav-menu-list-items{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: auto;
    font-weight: 500;
    font-size: 1.5rem;
}

.nav-menu-links{
    height: 80px;
    width: auto;
    padding: 5px;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white ;
    /* transition: all 2s; */
}
.nav-menu-links:hover{
    color: red;
}
.footer-container {
    height: 100px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font: {
            weight: 600 ;
            size: 2rem;
        }
        color: white;
    }   
}

@media screen and (max-width: 1050px){
    .nav-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        width: 100%;
    }
    

    .nav-container{
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        position: relative;
    }

    .mobile-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid white;
        border-radius: 2px;
    }

    .bar{
        display: block;
        height: 3px;
        width: 22px;
        background-color: white;
        margin: 2px;
    }
    .nav-menu-list{
        display: grid;
        /* flex-direction: column;
        justify-content: center;
        align-items: center; */
        grid-auto-columns: auto;
        list-style: none ;
        height: auto;
        width: 100%;
        /* z-index: -2; */
        opacity: 1;
        position: absolute;
        /* top: 100%; */
        left: 0px;
        right: 0px;
        top: -1000px;
        padding-left: 0px;
        background: blue;
        padding: 20px 0px;
        border-radius: 0px 0px 40px 40px;
        transition: all 0.6s ease-in-out;

    }
    
    .nav-menu-list.active{
        top: 64px;
        z-index: 10;
    }
    .nav-menu-list-items{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: auto;
        font-weight: 500;
        font-size: 1.5rem;
    }
    
    .nav-menu-links{
        text-decoration: none;
        color: white ;
        transition: all 2s;
    }
}


main {
    min-height: 100vh;
}